.purchase-wrapper{
  width: 90%;
  padding: 20px;
  background-color: $white;
  @include textbox-centerise();
  .purchase__title{
    height: 50px;
    border-bottom: 1px solid #f5f5f5;
    font-weight: bold;
    h2{
      font-size: 18px;
      text-align: center;
      padding: 12px 4%;
    }
  }
  .purchase__details, .purchase__payment{
    padding-top: 40px;
    @include flex-box();
    @include labels-wrapper();
    .labels-wrapper{
      display: block;
      .before-input{
        font-size: 20px;
        padding: 10px;
        background-color: $white;
        @include textbox-centerise();
      }
    }
  }
  @include form-buttons();
}