// notice, alert
.notifications {
  text-align: center;  
  .notice {
    background-color: lightBlue;
    color: $font-white;
  }
  .alert {
    background-color: orange;
    color: $font-white;
  }
}
.alert.alert-warning{
  ul{
    li{
      color: #ea352d;
      font-size: 15px;
      
    }
  }
}