.items{
  width: 100%;
  background-color: $global-background;
  border-radius: 3px;
  border: grey;
  display: flex;
  flex-wrap: wrap;
  &__item{
    padding: 1%;
    min-height: 150px;
    min-width: 150px;
    width: calc(100% / 5);
    font-size: 13px;
    @include labels-wrapper();
    .labels-wrapper{
      .label, .required, .arbitrary, .cautions{
        width: 100%;
        @include textbox-centerise();
      }
    }
    .item-image{
      height: 55%;
      width: 100%;
      & img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .item-discriptions{
      height: 30%;
      width: 100%;
      overflow: hidden;
      &--name{
        font-size: 14px;
        padding: 5%;
        @include textbox-centerise();
      }
      &--categories{
        font-size: 14px;
        padding: 5%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include textbox-centerise();
      }
      &--soldout{
        background-color: $red;
        border-radius: 5px;
        padding: 10px;
        color: $font-white;
        @include textbox-centerise();
      }
      @include form-buttons();
      .form-buttons{
        .buttons{
          .submit{
            font-size: 12px;
            padding: 8px;
          }
          .edit-btn{
            background-color: green;
            color: $white;
          }
          .remove-btn{
            background-color: $red;
            color: $white;
          }
        }
      }
    }
  }
}