.gift-main{
  width: 100vw;
  background-color: $white;
  padding-top: 50px;
  padding-bottom: 50px;
  .show-wrapper{
    width: 80%;
    background-color: $global-background;
    padding-top:50px;
    padding-bottom: 50px;
    @include box-centerise();
    @include form-buttons();
    .gift-about, .gift-detail, .gift-ships, .gift-price{
      @include individual-form();
    }
    .form-buttons{
      width: 80%;
      @include box-centerise();
      .cautions{
        background-color: $global-background;
        border: none;
      }
    }
  }
}