.mypage-main-content{
  width: 80%;
  @import "mypage/mypage-sidebar";
  .items-wrapper{
    width: 80%;
    background-color: $white;
    @import "shared/listed-items";
    .items{
      &__item{
        .labels-wrapper{
          .label{
            @include labels($blue, $font-white);
            @include textbox-centerise();
          }
        }
      }
    }
  }
}