.mypage-main-content{
  width: 80%;
  @import "mypage/mypage-sidebar";
  .items-wrapper{

    width: 80%;
    @import "shared/listed-items";
    .items{
      background-color: $white;
      justify-content: center;
      &__item{
        .labels-wrapper{
          .label{
            @include labels($blue, $font-white);
            @include textbox-centerise();
          }
          .label, .required, .arbitrary, .cautions{
            padding: 5px;
          }
        }
      }
    }
  }
}