
.breadcrumbs{
  height: 30px;
  width: 100%;
  margin: 0 auto;
  font-size: 15px;
  background-color: $blue;
  @include flex-box();
  .breadcrumbs--list{
    a {
      color: $font-white;
      text-decoration: none;
    }
  }
}