// notice, alert
.notification {
  text-align: center;  
  .notice {
    background-color: $red;
    color: $white;
  }
  .alert {
    background-color: $red;
    color: $white;
  }
}
.alert.alert-warning{
  ul{
    li{
      color: #ea352d;
      font-size: 15px;
    }
  }
}